@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html {
    scroll-behavior: smooth;
    overflow: overlay;
}
body {
    margin: 0;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    scroll-behavior: smooth;
}
.center {
    text-align: center;
}

.card {
    background: whitesmoke;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    transition: height 0.5s ease-in;
    max-width: 500px;
    display: block;
}
.categories {
    background: whitesmoke;
    border-radius: 5px;
    padding: 15px;
    transition: height 0.5s ease-in;
    max-width: 500px;
    display: block;
    position: fixed;
    margin: 0px;
    top: 10px;
    left: 10px;
}
@media only screen and (max-width: 1500px) {
    .categories {
        position: static;
        margin: 10px;
        display: block;
    }
}

#options {
    text-align: center;
    margin: 5px;
}
button {
    border: none;
    text-align: center;
    margin: auto;
    border-radius: 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 5px;
    cursor: pointer;
    background: rgb(200, 200, 200);
    transition: all 0.1s ease-in;
    box-shadow: 0px 0px 10px;
    display: block;
}
button:hover {
    background: rgb(175, 175, 175);
}
button:active {
    background: rgb(150, 150, 150);
}
.buttonContainer {
    margin: 15px;
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: transparent;
}
  
::-webkit-scrollbar-thumb {
    background: rgba(80, 80, 80, 0);
    border-radius: 10px;
}
body:hover::-webkit-scrollbar-thumb {
    background: rgba(80, 80, 80, 0.5);
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(50, 50, 50, 0.5);
}
::-webkit-scrollbar-thumb:active {
    background: rgba(20, 20, 20, 0.5);
}
