@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root {
	--background: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
	--card: whitesmoke;
}

html {
    scroll-behavior: smooth;
    overflow: overlay;
    background-image: var(--background);
	background-attachment: fixed;
}
body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    scroll-behavior: smooth;
}
.center {
    text-align: center;
}

p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.loading-img {
    max-width: 10vmax;
    width: 50%;
    margin-top: 20px;
}

.card {
    background: whitesmoke;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    transition: height 0.5s ease-in;
    max-width: 500px;
    display: block;
    position: relative;
}
.settings-box {
    background: whitesmoke;
    border-radius: 5px;
    padding: 15px;
    transition: height 0.5s ease-in;
    min-width: 250px;
    display: block;
    position: fixed;
    margin: 0px;
    top: 10px;
    left: 10px;
	z-index: 2;
}
.settings-box::-webkit-scrollbar {
    display: none;
}
.stats {
    background: whitesmoke;
    border-radius: 5px;
    padding: 15px;
    transition: height 0.5s ease-in;
    max-width: 500px;
    display: block;
    position: fixed;
    margin: 0px;
    top: 10px;
    right: 10px;
	z-index: 2;
}

.optionsLoading {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.dark-mode .card, .dark-mode .settings-box, .dark-mode .stats {
	background: #010101;
	color: white;
}
.dark-mode .subtext {
	color: #8c8c8c;
}

.options, .subtext {
    z-index: 10;
}
.subtext {
	color: lightgrey;
}

.mobile-options-view {
	text-align: left;
	position: relative;
	cursor: pointer;
	user-select: none;
	display: none;
}
.mobile-options-arrow {
	display: inline-block;
	margin-left: 100%;
	position: absolute;
	top: 0;
	left: -15px;
	transform: rotate(180deg);
	transition: all 0.5s linear;
}
.mobile-options-view.open .mobile-options-arrow {
	transform: rotate(0deg);
}

.event-listener {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: none;
	z-index: -1;
}

@media only screen and (max-width: 1500px) {
    .settings-box {
        position: sticky;
        margin: 10px;
        display: block;
        z-index: 10;
        border: solid rgb(100, 100, 100) 1px;
    }
	.dark-mode .settings-box {
        border: solid rgb(155, 155, 155) 1px;
	}
    .stats {
        position: static;
        margin: 10px;
        display: block;
        z-index: 10;
    }
	.mobile-options-view {
		display: block;
		margin-bottom: -5px;
	}
	.options-view {
		max-height: 0;
		transition: max-height 0.4s ease-out;
		overflow: hidden;
	}
	.optionsLoading {
		display: none;
	}
	.mobile-options-view.open + .options > .options-view {
		max-height: 100vh;
		overflow: auto;
		transition: max-height 0.4s ease-in;
	}
	.event-listener.active {
		display: block;
	}
}

.options {
    text-align: center;
    margin: 5px;
}
button {
    position: relative;
    border: none;
    text-align: center;
    margin: auto;
    border-radius: 5px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 5px;
    cursor: pointer;
    display: block;
    z-index: 1;
}
button::after {
    border-radius: 5px;
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: opacity 0.2s linear;
    opacity: 0;
}
button:hover::after {
    opacity: 1;
}
button:active {
    background: rgb(150, 150, 150);
}
button span {
    z-index: 3;
}

button {
    background: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
}
button::after {
    background: linear-gradient(-20deg, #21d4fd 0%, #b721ff 100%);
}

button.correct {
    background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}
button.correct::after {
    background: linear-gradient(120deg, #8fd3f4 0%, #84fab0 100%);
}

button.wrong {
    background: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
}
button.wrong::after {
    background: linear-gradient(to top, #ffb199 0%, #ff0844 100%);
}

.buttonContainer {
    margin: 15px;
}

button.letterOptions span {
    width: 20%;
    float: left;
}
button.letterOptions {
    width: 80%;
    float: left;
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: transparent;
}
  
::-webkit-scrollbar-thumb {
    background: rgba(80, 80, 80, 0);
    border-radius: 10px;
}
body:hover::-webkit-scrollbar-thumb {
    background: rgba(80, 80, 80, 0.5);
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(50, 50, 50, 0.5);
}
::-webkit-scrollbar-thumb:active {
    background: rgba(20, 20, 20, 0.5);
}

.confetti {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-repeat: repeat;
    pointer-events: none;
    z-index: 1;
    user-select: none;
}

.form-button {
	position: relative;
	width: min-content;
	text-align: center;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 5px;
}
.form-button * {
	transition: all 0.2s linear;
}
.form-button .reset {
	background: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
	border: none;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	margin: 0;
	margin-right: 50px;
	width: 50px;
}
.form-button .copy {
	background: linear-gradient(180deg, #2af598 0%, #009efd 100%);
	border: none;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 50px;
	margin: 0;
}
.form-button .reset:after {
	background: linear-gradient(to top, #ffb199 0%, #ff0844 100%);
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.form-button .copy:after {
	background: linear-gradient(180deg, #009efd 0%, #2af598 100%);
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
