@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

html {
    scroll-behavior: smooth;
    overflow: overlay;
}
body {
    margin: 0;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    scroll-behavior: smooth;
}
.center {
    text-align: center;
}

p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.loading-img {
    max-width: 10vmax;
    width: 50%;
    margin-top: 20px;
}

.card {
    background: whitesmoke;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    transition: height 0.5s ease-in;
    max-width: 500px;
    display: block;
    position: relative;
}
.categories {
    background: whitesmoke;
    border-radius: 5px;
    padding: 15px;
    transition: height 0.5s ease-in;
    max-width: 500px;
    display: block;
    position: fixed;
    margin: 0px;
    top: 10px;
    left: 10px;
}
.stats {
    background: rgb(245, 245, 245);
    border-radius: 5px;
    padding: 15px;
    transition: height 0.5s ease-in;
    max-width: 500px;
    display: block;
    position: fixed;
    margin: 0px;
    top: 10px;
    right: 10px;
}
.options, .subtext {
    z-index: 10;
}
@media only screen and (max-width: 1500px) {
    .categories {
        position: sticky;
        margin: 10px;
        display: block;
        z-index: 10;
        border: solid rgb(100, 100, 100) 1px;
    }
    .stats {
        position: static;
        margin: 10px;
        display: block;
        z-index: 10;
    }
}

#options {
    text-align: center;
    margin: 5px;
}
button {
    position: relative;
    border: none;
    text-align: center;
    margin: auto;
    border-radius: 5px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 5px;
    cursor: pointer;
    display: block;
    z-index: 1;
}
button::after {
    border-radius: 5px;
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: opacity 0.2s linear;
    opacity: 0;
}
button:hover::after {
    opacity: 1;
}
button:active {
    background: rgb(150, 150, 150);
}
button span {
    z-index: 3;
}

button {
    background: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
}
button::after {
    background: linear-gradient(-20deg, #21d4fd 0%, #b721ff 100%);
}

button.correct {
    background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}
button.correct::after {
    background: linear-gradient(120deg, #8fd3f4 0%, #84fab0 100%);
}

button.wrong {
    background: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
}
button.wrong::after {
    background: linear-gradient(to top, #ffb199 0%, #ff0844 100%);
}

.buttonContainer {
    margin: 15px;
}

button.letterOptions span {
    width: 20%;
    float: left;
}
button.letterOptions {
    width: 80%;
    float: left;
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: transparent;
}
  
::-webkit-scrollbar-thumb {
    background: rgba(80, 80, 80, 0);
    border-radius: 10px;
}
body:hover::-webkit-scrollbar-thumb {
    background: rgba(80, 80, 80, 0.5);
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(50, 50, 50, 0.5);
}
::-webkit-scrollbar-thumb:active {
    background: rgba(20, 20, 20, 0.5);
}

.confetti {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-repeat: repeat;
    pointer-events: none;
    z-index: -1;
    user-select: none;
}
